/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(180, 0, 90, 1), 50%, rgba(4, 59, 89, 1));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

/* Menu */
.Menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2.5em;
  background-color: rgba(255,255,255,0.1);
  transition: background-color 1s;
}

.Menu.onHome {
  background-color: rgba(255,255,255,0);
}

.Menu .Menu-back {
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  transition: left 0.5s;
}

.Menu .Menu-back.hidden {
  left: -5em;
}


.Menu .Menu-title {
  position: absolute;
  top: 0;
  left: calc(100vw - 4.1em);
  font-size: 2em;
  transition: left 0.5s, top 0.5s, font-size 0.5s;
}

.Menu.onHome .Menu-back {
  left: -5em;
}

.Menu.onHome .Menu-title {
  top: 0.5em;
  left: 0.15em;
  font-size: 5em;
  font-weight: bold;
}

/* Menu */
.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  background-color: rgba(255,255,255,0.1);
  transition: background-color 1s;
  overflow: hidden;
}

.Footer.onHome {
  background-color: rgba(255,255,255,0);
}

.Footer .Footer-next {
  position: absolute;
  left: calc(100vw - 6.5em);
  top: 0.3em;
  transition: left 0.5s;
  width: 6.5em;
}

.Footer .Footer-next>* {
  vertical-align: middle;
}

.Footer.onHome .Footer-next {
  left: calc(100vw + 5em);
}

.Footer .Footer-title {
  position: absolute;
  left: 0;
  top: 0.65em;
  transition: left 0.5s;
  font-weight: bold;
}

.Footer.onHome .Footer-title {
  left: calc(100vw - 15em);
}


/* common */

.stage {
  margin-bottom: 1em;
}

/* animated switch */
#root {
  width: 100%;
  height: 100%;
}
.switch-wrapper {
  position: relative;
  top: 2em;
  height: calc(100vh - 5em);
  width: 100%;
  overflow: hidden;
}

.switch-wrapper > div {
  margin-top: 4em;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* home */
.HomeDesc {
  margin-top: 3em;
  margin-bottom: 3em;
}

a.Start {
  font-size: 1.4rem;
}

/* margins */
.Home, .Parameters, .FileChoose, .Uploading {
  margin-left: 1em;
  margin-right: 1em;
}

/* Parameters */

.Parameters .form {
  margin: 1em;
}

.Parameters .form>div {
  margin: 1em;
}

.Parameters .form label {
  display: inline-block;
  min-width: 11em;
}

.Parameters .form input {
  min-width: 33em;
}

.FileChoose input#filepath {
  min-width: 38em;
}


.Uploading progress {
  width: 100%;
}

.Uploading .loading {
  width: 1.1em;
  height: 1.1em;
  margin-left: 5em;
}

.Uploading .csvlog {
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 4em;
  top: 7em;
  background: rgba(255,255,255,0.2);
  color: black;
  overflow-y: scroll;
}
