/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(180, 0, 90, 1), 50%, rgba(4, 59, 89, 1));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  flex-direction: horizontal;
  margin-bottom: 2em;
}

.header .header-back {
  flex: 1 1 auto;
  font-size: 1em;
}

.header .header-title {
  flex: 1 1 auto;
  font-size: 2em;
  text-align: right;
}

/* common */

.stage {
  margin-bottom: 1em;
}

/* home */
.HomeDesc {
  margin-top: 3em;
  margin-bottom: 3em;
}

a.Start {
  font-size: 1.4rem;
}


/* Parameters */

.Parameters .form {
  margin: 1em;
}

.Parameters .form>div {
  margin: 1em;
}

.Parameters .form label {
  display: inline-block;
  min-width: 9em;
}

.Parameters .form input {
  min-width: 20em;
}
